[run]
source = .
omit = 
    NameComparatorTS/
    tests/*
    **/test_*.py
    **/__init__.py
    **/_version.py
    _version.py
    setup.py
    .github/*

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = htmlcov