include README.md
include LICENSE
include _version.py
recursive-include NameComparator *.py *.json *.txt
recursive-include data *.py *.json *.txt
global-include py.typed

# Explicitly exclude TypeScript directory
global-exclude NameComparatorTS/*
prune NameComparatorTS